<a href="https://colab.research.google.com/github/NguyenBinh0707/pythonProject/blob/master/bai_tap_phan_tich_anova_1_chieu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hãy sử dụng các tập dữ liệu sau và tiến hành phân tích ANOVA 1 chiều

- [Excavation Depth and Archaeology](https://college.cengage.com/mathematics/brase/understandable_statistics/7e/students/datasets/owan/frames/owan01.html)
- [Apple Orchard Experiment](https://college.cengage.com/mathematics/brase/understandable_statistics/7e/students/datasets/owan/frames/owan02.html)
- [Red Dye Number 40](https://college.cengage.com/mathematics/brase/understandable_statistics/7e/students/datasets/owan/frames/owan03.html)
- [Business Startup Costs](https://college.cengage.com/mathematics/brase/understandable_statistics/7e/students/datasets/owan/frames/owan04.html)
- [Weights of Football Players](https://college.cengage.com/mathematics/brase/understandable_statistics/7e/students/datasets/owan/frames/owan05.html)

In [19]:
import pandas as pd
import statistics as sss
import numpy as np 
import matplotlib.pyplot as plt
import scipy.stats as stats
import seaborn as sns

In [20]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Tiến hành phân tích ANOVA 1 chiều với dữ liệu Excavation Depth and Archaeology

In [58]:
df = pd.read_csv('/content/drive/MyDrive/Baitap/owan01.csv')
df

     X1    X2     X3    X4
0    93  85.0  100.0  96.0
1   120  45.0   75.0  58.0
2    65  80.0   65.0  95.0
3   105  28.0   40.0  90.0
4   115  75.0   73.0  65.0
5    82  70.0   65.0  80.0
6    99  65.0   50.0  85.0
7    87  55.0   30.0  95.0
8   100  50.0   45.0  82.0
9    90  40.0   50.0   NaN
10   78   NaN   45.0   NaN
11   95   NaN   55.0   NaN
12   93   NaN    NaN   NaN
13   88   NaN    NaN   NaN
14  110   NaN    NaN   NaN

In [51]:
a = df['X1'].values.tolist()
b = df['X2'].dropna().values.tolist()
c = df['X3'].dropna().values.tolist()
d = df['X4'].dropna().values.tolist()
print(a,'\n',b,'\n',c,'\n',d)

[93, 120, 65, 105, 115, 82, 99, 87, 100, 90, 78, 95, 93, 88, 110]
 [85.0, 45.0, 80.0, 28.0, 75.0, 70.0, 65.0, 55.0, 50.0, 40.0]
 [100.0, 75.0, 65.0, 40.0, 73.0, 65.0, 50.0, 30.0, 45.0, 50.0, 45.0, 55.0]
 [96.0, 58.0, 95.0, 90.0, 65.0, 80.0, 85.0, 95.0, 82.0]

In [50]:
listt = [list(df["X1"].dropna()),
               list(df["X2"].dropna()),
               list(df["X3"].dropna()),
               list(df["X4"].dropna())]
df

     X1    X2     X3    X4
0    93  85.0  100.0  96.0
1   120  45.0   75.0  58.0
2    65  80.0   65.0  95.0
3   105  28.0   40.0  90.0
4   115  75.0   73.0  65.0
5    82  70.0   65.0  80.0
6    99  65.0   50.0  85.0
7    87  55.0   30.0  95.0
8   100  50.0   45.0  82.0
9    90  40.0   50.0   NaN
10   78   NaN   45.0   NaN
11   95   NaN   55.0   NaN
12   93   NaN    NaN   NaN
13   88   NaN    NaN   NaN
14  110   NaN    NaN   NaN

#Kiểm định các nhóm có tuân theo phân phối chuẩn không#

Với mức ý nghĩa 0.05

Ta có các giả thuyết

$H_{0}$: Nhóm i được lấy từ phân phối chuẩn

$H_{1}$: Không có bằng chứng để nói nhóm i được lấy từ phân phối chuẩn

In [49]:
for i in range(4):
  p_value = stats.shapiro(listt[i])[1]
  print(f"P_value của cột thứ {i+1}: {p_value}")
  if p_value < 0.05:
    print(f"Có bằng chứng cho thấy nhóm thứ {i+1} không tuân theo phân phối chuẩn")
  else:
    print(f"Không có bằng chứng cho thấy nhóm thứ {i+1} không tuân theo phân phối chuẩn")

P_value của cột thứ 1: 0.644533634185791
Không có bằng chứng cho thấy nhóm thứ 1 không tuân theo phân phối chuẩn
P_value của cột thứ 2: 0.7472830414772034
Không có bằng chứng cho thấy nhóm thứ 2 không tuân theo phân phối chuẩn
P_value của cột thứ 3: 0.3169650137424469
Không có bằng chứng cho thấy nhóm thứ 3 không tuân theo phân phối chuẩn
P_value của cột thứ 4: 0.5994704365730286
Không có bằng chứng cho thấy nhóm thứ 4 không tuân theo phân phối chuẩn

#Kiểm định sự đồng nhất giữa phương sai các nhóm#

Với mức ý nghĩa 0.05

Ta có các giả thuyết

$H_{0}$: Không có sự khác biệt về phương sai của các nhóm

$H_{1}$: Không có bằng chứng để nói không có sự khác biệt về phương sai của các nhóm, ( tồn tại bằng chứng )

In [52]:
stat_value ,p_value = stats.levene(listt[0], listt[1], listt[2], listt[3])                   
print(f"P value: {p_value}")

P value: 0.5020818274234007

Vì P > 0.05 nên có bằng chứng cho thấy sự đồng nhất phương sai giữa các nhóm

##Vì các nhóm độc lập, tuân theo phân phối chuẩn và có sự đồng nhất về phương sai giữa các nhóm nên ta có thể tiến hành kiểm định ANOVA:##

#Với mức ý nghĩa 0.05#
Ta có các giả thuyết

$H_{0}$: Không có sự khác biệt về trung bình độ sâu của các nhóm

$H_{1}$: Không có sự khác biệt về trung bình độ sâu của các nhóm, ( tồn tại bằng chứng )

In [53]:
f_stat, p_value = stats.f_oneway(listt[0], listt[1],
                                 listt[2], listt[3])
print(f"P value: {p_value}")

P value: 7.99057539367343e-07

Vì P < 0.05 nên có thể nói rằng ta có bằng chứng để bác bỏ giả thuyết $H_{0}$

#Tiến hành phân tích ANOVA 1 chiều với dữ liệu Apple Orchard Experiment#

In [27]:
df1 = pd.read_csv('/content/drive/MyDrive/Baitap/owan02.csv')
df1

     X1    X2    X3    X4    X5
0  2569  2074  2505  2838  1532
1  2928  2885  2315  2351  2552
2  2865  3378  2667  3001  3083
3  3844  3906  2390  2439  2330
4  3027  2782  3021  2199  2079
5  2336  3018  3085  3318  3366
6  3211  3383  3308  3601  2416
7  3037  3447  3231  3291  3100

In [29]:
a1 = df1['X1'].values.tolist()
b1 = df1['X2'].dropna().values.tolist()
c1 = df1['X3'].dropna().values.tolist()
d1 = df1['X4'].dropna().values.tolist()
e1 = df1['X5'].dropna().values.tolist()
print(a1,'\n',b1,'\n',c1,'\n',d1,'\n',e1)

[2569, 2928, 2865, 3844, 3027, 2336, 3211, 3037]
 [2074, 2885, 3378, 3906, 2782, 3018, 3383, 3447]
 [2505, 2315, 2667, 2390, 3021, 3085, 3308, 3231]
 [2838, 2351, 3001, 2439, 2199, 3318, 3601, 3291]
 [1532, 2552, 3083, 2330, 2079, 3366, 2416, 3100]

#Kiểm định các nhóm có tuân theo phân phối chuẩn không#

Với mức ý nghĩa 0.05

Ta có các giả thuyết

$H_{0}$: Nhóm i được lấy từ phân phối chuẩn

$H_{1}$: Không có bằng chứng để nói nhóm i được lấy từ phân phối chuẩn

In [39]:
listt1 = [list(df1["X1"].dropna()),
               list(df1["X2"].dropna()),
               list(df1["X3"].dropna()),
               list(df1["X4"].dropna()),
          list(df1["X5"].dropna())]

df1

     X1    X2    X3    X4    X5
0  2569  2074  2505  2838  1532
1  2928  2885  2315  2351  2552
2  2865  3378  2667  3001  3083
3  3844  3906  2390  2439  2330
4  3027  2782  3021  2199  2079
5  2336  3018  3085  3318  3366
6  3211  3383  3308  3601  2416
7  3037  3447  3231  3291  3100

In [40]:
for i in range(5):
  p_value = stats.shapiro(listt1[i])[1]
  print(f"P_value của cột thứ {i+1}: {p_value}")
  if p_value < 0.05:
    print(f"Có bằng chứng cho thấy nhóm thứ {i+1} không tuân theo phân phối chuẩn")
  else:
    print(f"Không có bằng chứng cho thấy nhóm thứ {i+1} không tuân theo phân phối chuẩn")

P_value của cột thứ 1: 0.644533634185791
Không có bằng chứng cho thấy nhóm thứ 1 không tuân theo phân phối chuẩn
P_value của cột thứ 2: 0.7472830414772034
Không có bằng chứng cho thấy nhóm thứ 2 không tuân theo phân phối chuẩn
P_value của cột thứ 3: 0.3169650137424469
Không có bằng chứng cho thấy nhóm thứ 3 không tuân theo phân phối chuẩn
P_value của cột thứ 4: 0.5994704365730286
Không có bằng chứng cho thấy nhóm thứ 4 không tuân theo phân phối chuẩn
P_value của cột thứ 5: 0.803491473197937
Không có bằng chứng cho thấy nhóm thứ 5 không tuân theo phân phối chuẩn

#Kiểm định sự đồng nhất giữa phương sai các nhóm#

Với mức ý nghĩa 0.05

Ta có các giả thuyết

$H_{0}$: Không có sự khác biệt về phương sai của các nhóm

$H_{1}$: Không có bằng chứng để nói không có sự khác biệt về phương sai của các nhóm, ( tồn tại bằng chứng )

In [44]:
stat_value ,p_value = stats.levene(listt1[0], listt1[1], listt1[2], listt1[3],listt1[4])                   
print(f"P value: {p_value}")

P value: 0.7871189934362511

Vì P > 0.05 nên có bằng chứng cho thấy sự đồng nhất phương sai giữa các nhóm

##Vì các nhóm độc lập, tuân theo phân phối chuẩn và có sự đồng nhất về phương sai giữa các nhóm nên ta có thể tiến hành kiểm định ANOVA:##

#Với mức ý nghĩa 0.05#
Ta có các giả thuyết

$H_{0}$: Không có sự khác biệt về trung bình độ tăng trưởng của các nhóm

$H_{1}$: Không có sự khác biệt về trung bình độ tăng trưởng của các nhóm, ( tồn tại bằng chứng )

In [55]:
f_stat, p_value = stats.f_oneway(listt1[0], listt1[1], listt1[2], listt1[3], listt1[4])
print(f"P value: {p_value}")

P value: 0.28382583646160114

Vì P < 0.05 nên có thể nói rằng ta có bằng chứng để bác bỏ giả thuyết $H_{0}$

#Tiến hành phân tích ANOVA 1 chiều với dữ liệu Red Dye Number 40#

In [57]:
df2 = pd.read_csv('/content/drive/MyDrive/Baitap/owan03.csv')
df2

     X1    X2    X3     X4
0    70  49.0  30.0   34.0
1    77  60.0  37.0   36.0
2    83  63.0  56.0   48.0
3    87  67.0  65.0   48.0
4    92  70.0  76.0   65.0
5    93  74.0  83.0   91.0
6   100  77.0  87.0   98.0
7   102  80.0  90.0  102.0
8   102  89.0  94.0    NaN
9   103   NaN  97.0    NaN
10   96   NaN   NaN    NaN

In [59]:
a2 = df2['X1'].values.tolist()
b2 = df2['X2'].dropna().values.tolist()
c2 = df2['X3'].dropna().values.tolist()
d2 = df2['X4'].dropna().values.tolist()

print(a2,'\n',b2,'\n',c2,'\n',d2)

[70, 77, 83, 87, 92, 93, 100, 102, 102, 103, 96]
 [49.0, 60.0, 63.0, 67.0, 70.0, 74.0, 77.0, 80.0, 89.0]
 [30.0, 37.0, 56.0, 65.0, 76.0, 83.0, 87.0, 90.0, 94.0, 97.0]
 [34.0, 36.0, 48.0, 48.0, 65.0, 91.0, 98.0, 102.0]

#Kiểm định các nhóm có tuân theo phân phối chuẩn không#

Với mức ý nghĩa 0.05

Ta có các giả thuyết

$H_{0}$: Nhóm i được lấy từ phân phối chuẩn

$H_{1}$: Không có bằng chứng để nói nhóm i được lấy từ phân phối chuẩn

In [60]:
listt2 = [list(df1["X1"].dropna()),
               list(df1["X2"].dropna()),
               list(df1["X3"].dropna()),
               list(df1["X4"].dropna())]

df2

     X1    X2    X3     X4
0    70  49.0  30.0   34.0
1    77  60.0  37.0   36.0
2    83  63.0  56.0   48.0
3    87  67.0  65.0   48.0
4    92  70.0  76.0   65.0
5    93  74.0  83.0   91.0
6   100  77.0  87.0   98.0
7   102  80.0  90.0  102.0
8   102  89.0  94.0    NaN
9   103   NaN  97.0    NaN
10   96   NaN   NaN    NaN

In [62]:
for i in range(4):
  p_value = stats.shapiro(listt2[i])[1]
  print(f"P_value của cột thứ {i+1}: {p_value}")
  if p_value < 0.05:
    print(f"Có bằng chứng cho thấy nhóm thứ {i+1} không tuân theo phân phối chuẩn")
  else:
    print(f"Không có bằng chứng cho thấy nhóm thứ {i+1} không tuân theo phân phối chuẩn")

P_value của cột thứ 1: 0.644533634185791
Không có bằng chứng cho thấy nhóm thứ 1 không tuân theo phân phối chuẩn
P_value của cột thứ 2: 0.7472830414772034
Không có bằng chứng cho thấy nhóm thứ 2 không tuân theo phân phối chuẩn
P_value của cột thứ 3: 0.3169650137424469
Không có bằng chứng cho thấy nhóm thứ 3 không tuân theo phân phối chuẩn
P_value của cột thứ 4: 0.5994704365730286
Không có bằng chứng cho thấy nhóm thứ 4 không tuân theo phân phối chuẩn

#Kiểm định sự đồng nhất giữa phương sai các nhóm#

Với mức ý nghĩa 0.05

Ta có các giả thuyết

$H_{0}$: Không có sự khác biệt về phương sai của các nhóm

$H_{1}$: Không có bằng chứng để nói không có sự khác biệt về phương sai của các nhóm, ( tồn tại bằng chứng )

In [63]:
stat_value ,p_value = stats.levene(listt2[0], listt2[1], listt2[2], listt2[3])                   
print(f"P value: {p_value}")

P value: 0.7650714581028858

Vì P > 0.05 nên có bằng chứng cho thấy sự đồng nhất phương sai giữa các nhóm

Vì các nhóm độc lập, tuân theo phân phối chuẩn và có sự đồng nhất về phương sai giữa các nhóm nên ta có thể tiến hành kiểm định ANOVA:

#Với mức ý nghĩa 0.05#
Ta có các giả thuyết

$H_{0}$: Không có sự khác biệt về trung bình thời gian tử vong của các nhóm

$H_{1}$:Không có sự khác biệt về trung bình thời gian tử vong của các nhóm, ( tồn tại bằng chứng )

In [65]:
f_stat, p_value = stats.f_oneway(listt2[0], listt2[1], listt2[2], listt2[3])
print(f"P value: {p_value}")

P value: 0.6409257498820091

Vì P > 0.05 nên có thể nói rằng ta không có bằng chứng để bác bỏ giả thuyết $H_{0}$

#Tiến hành phân tích ANOVA 1 chiều với dữ liệu Business Startup Costs:#

In [67]:
df3 = pd.read_csv('/content/drive/MyDrive/Baitap/owan04.csv')
df3

       X1     X2     X3     X4   X5
0    80.0  150.0   48.0  100.0   25
1   125.0   40.0   35.0   96.0   80
2    35.0  120.0   95.0   35.0   30
3    58.0   75.0   45.0   99.0   35
4   110.0  160.0   75.0   75.0   30
5   140.0   60.0  115.0  150.0   28
6    97.0   45.0   42.0   45.0   20
7    50.0  100.0   78.0  100.0   75
8    65.0   86.0   65.0  120.0   48
9    79.0   87.0  125.0   50.0   20
10   35.0   90.0    NaN    NaN   50
11   85.0    NaN    NaN    NaN   75
12  120.0    NaN    NaN    NaN   55
13    NaN    NaN    NaN    NaN   60
14    NaN    NaN    NaN    NaN   85
15    NaN    NaN    NaN    NaN  110

In [68]:
a3 = df3['X1'].values.tolist()
b3 = df3['X2'].dropna().values.tolist()
c3 = df3['X3'].dropna().values.tolist()
d3 = df3['X4'].dropna().values.tolist()
e3 = df3['X5'].dropna().values.tolist()
print(a3,'\n',b3,'\n',c3,'\n',d3,'\n',e3)

[80.0, 125.0, 35.0, 58.0, 110.0, 140.0, 97.0, 50.0, 65.0, 79.0, 35.0, 85.0, 120.0, nan, nan, nan]
 [150.0, 40.0, 120.0, 75.0, 160.0, 60.0, 45.0, 100.0, 86.0, 87.0, 90.0]
 [48.0, 35.0, 95.0, 45.0, 75.0, 115.0, 42.0, 78.0, 65.0, 125.0]
 [100.0, 96.0, 35.0, 99.0, 75.0, 150.0, 45.0, 100.0, 120.0, 50.0]
 [25, 80, 30, 35, 30, 28, 20, 75, 48, 20, 50, 75, 55, 60, 85, 110]

#Kiểm định các nhóm có tuân theo phân phối chuẩn không#
Với mức ý nghĩa 0.05

Ta có các giả thuyết

$H_{0}$: Nhóm i được lấy từ phân phối chuẩn

$H_{1}$: Không có bằng chứng để nói nhóm i được lấy từ phân phối chuẩn

In [69]:
listt3 = [list(df3["X1"].dropna()),
               list(df3["X2"].dropna()),
               list(df3["X3"].dropna()),
               list(df3["X4"].dropna()),
          list(df3["X5"].dropna())]

df3

       X1     X2     X3     X4   X5
0    80.0  150.0   48.0  100.0   25
1   125.0   40.0   35.0   96.0   80
2    35.0  120.0   95.0   35.0   30
3    58.0   75.0   45.0   99.0   35
4   110.0  160.0   75.0   75.0   30
5   140.0   60.0  115.0  150.0   28
6    97.0   45.0   42.0   45.0   20
7    50.0  100.0   78.0  100.0   75
8    65.0   86.0   65.0  120.0   48
9    79.0   87.0  125.0   50.0   20
10   35.0   90.0    NaN    NaN   50
11   85.0    NaN    NaN    NaN   75
12  120.0    NaN    NaN    NaN   55
13    NaN    NaN    NaN    NaN   60
14    NaN    NaN    NaN    NaN   85
15    NaN    NaN    NaN    NaN  110

In [70]:
for i in range(5):
  p_value = stats.shapiro(listt3[i])[1]
  print(f"P_value của cột thứ {i+1}: {p_value}")
  if p_value < 0.05:
    print(f"Có bằng chứng cho thấy nhóm thứ {i+1} không tuân theo phân phối chuẩn")
  else:
    print(f"Không có bằng chứng cho thấy nhóm thứ {i+1} không tuân theo phân phối chuẩn")

P_value của cột thứ 1: 0.7370653748512268
Không có bằng chứng cho thấy nhóm thứ 1 không tuân theo phân phối chuẩn
P_value của cột thứ 2: 0.5559222102165222
Không có bằng chứng cho thấy nhóm thứ 2 không tuân theo phân phối chuẩn
P_value của cột thứ 3: 0.3917592167854309
Không có bằng chứng cho thấy nhóm thứ 3 không tuân theo phân phối chuẩn
P_value của cột thứ 4: 0.5785742998123169
Không có bằng chứng cho thấy nhóm thứ 4 không tuân theo phân phối chuẩn
P_value của cột thứ 5: 0.17400741577148438
Không có bằng chứng cho thấy nhóm thứ 5 không tuân theo phân phối chuẩn

#Kiểm định sự đồng nhất giữa phương sai các nhóm#
Với mức ý nghĩa 0.05

Ta có các giả thuyết

$H_{0}$: Không có sự khác biệt về phương sai của các nhóm

$H_{1}$: Không có bằng chứng để nói không có sự khác biệt về phương sai của các nhóm, ( tồn tại bằng chứng )

In [72]:
stat_value ,p_value = stats.levene(listt3[0], listt3[1], listt3[2], listt3[3],listt3[4])                   
print(f"P value: {p_value}")

P value: 0.9309738160407797

Vì P > 0.05 nên có thể nói rằng ta không có bằng chứng để bác bỏ giả thuyết $H_{0}$

#Vì các nhóm độc lập, tuân theo phân phối chuẩn và có sự đồng nhất về phương sai giữa các nhóm nên ta có thể tiến hành kiểm định ANOVA:#
#Với mức ý nghĩa 0.05#
Ta có các giả thuyết

$H_{0}$: Không có sự khác biệt về trung bình chi phí để khởi đầu của các nhóm

$H_{1}$:Không có sự khác biệt về trung bình chi phí để khởi đầu của các nhóm, ( tồn tại bằng chứng )

In [75]:
stat_value ,p_value = stats.f_oneway(listt3[0], listt3[1], listt3[2], listt3[3],listt3[4])                   
print(f"P value: {p_value}")

P value: 0.018391232905488122

Vì P < 0.05 nên có thể nói rằng ta có bằng chứng để bác bỏ giả thuyết $H_{0}$

#Tiến hành phân tích ANOVA 1 chiều với dữ liệu Weights of Football Players:#

In [76]:
df4 = pd.read_csv('/content/drive/MyDrive/Baitap/owan05.csv')
df4

     X1   X2   X3   X4   X5
0   250  260  270  260  247
1   255  271  250  255  249
2   255  258  281  265  255
3   264  263  273  257  247
4   250  267  257  268  244
5   265  254  264  263  245
6   245  255  233  247  249
7   252  250  254  253  260
8   266  248  268  251  217
9   246  240  252  252  208
10  251  254  256  266  228
11  263  275  265  264  253
12  248  270  252  210  249
13  228  225  256  236  223
14  221  222  235  225  221
15  223  230  216  230  228
16  220  225  241  232  271

In [77]:
a4 = df4['X1'].values.tolist()
b4 = df4['X2'].dropna().values.tolist()
c4 = df4['X3'].dropna().values.tolist()
d4 = df4['X4'].dropna().values.tolist()
e4 = df4['X5'].dropna().values.tolist()
print(a4,'\n',b4,'\n',c4,'\n',d4,'\n',e4)

[250, 255, 255, 264, 250, 265, 245, 252, 266, 246, 251, 263, 248, 228, 221, 223, 220]
 [260, 271, 258, 263, 267, 254, 255, 250, 248, 240, 254, 275, 270, 225, 222, 230, 225]
 [270, 250, 281, 273, 257, 264, 233, 254, 268, 252, 256, 265, 252, 256, 235, 216, 241]
 [260, 255, 265, 257, 268, 263, 247, 253, 251, 252, 266, 264, 210, 236, 225, 230, 232]
 [247, 249, 255, 247, 244, 245, 249, 260, 217, 208, 228, 253, 249, 223, 221, 228, 271]

#Kiểm định các nhóm có tuân theo phân phối chuẩn không#
Với mức ý nghĩa 0.05

Ta có các giả thuyết

$H_{0}$: Nhóm i được lấy từ phân phối chuẩn

$H_{1}$: Không có bằng chứng để nói nhóm i được lấy từ phân phối chuẩn

In [79]:
listt4 = [list(df3["X1"].dropna()),
               list(df3["X2"].dropna()),
               list(df3["X3"].dropna()),
               list(df3["X4"].dropna()),
          list(df3["X5"].dropna())]

df4

     X1   X2   X3   X4   X5
0   250  260  270  260  247
1   255  271  250  255  249
2   255  258  281  265  255
3   264  263  273  257  247
4   250  267  257  268  244
5   265  254  264  263  245
6   245  255  233  247  249
7   252  250  254  253  260
8   266  248  268  251  217
9   246  240  252  252  208
10  251  254  256  266  228
11  263  275  265  264  253
12  248  270  252  210  249
13  228  225  256  236  223
14  221  222  235  225  221
15  223  230  216  230  228
16  220  225  241  232  271

In [81]:
for i in range(5):
  p_value = stats.shapiro(listt4[i])[1]
  print(f"P_value của cột thứ {i+1}: {p_value}")
  if p_value < 0.05:
    print(f"Có bằng chứng cho thấy nhóm thứ {i+1} không tuân theo phân phối chuẩn")
  else:
    print(f"Không có bằng chứng cho thấy nhóm thứ {i+1} không tuân theo phân phối chuẩn")

P_value của cột thứ 1: 0.7370653748512268
Không có bằng chứng cho thấy nhóm thứ 1 không tuân theo phân phối chuẩn
P_value của cột thứ 2: 0.5559222102165222
Không có bằng chứng cho thấy nhóm thứ 2 không tuân theo phân phối chuẩn
P_value của cột thứ 3: 0.3917592167854309
Không có bằng chứng cho thấy nhóm thứ 3 không tuân theo phân phối chuẩn
P_value của cột thứ 4: 0.5785742998123169
Không có bằng chứng cho thấy nhóm thứ 4 không tuân theo phân phối chuẩn
P_value của cột thứ 5: 0.17400741577148438
Không có bằng chứng cho thấy nhóm thứ 5 không tuân theo phân phối chuẩn

#Kiểm định sự đồng nhất giữa phương sai các nhóm#
Với mức ý nghĩa 0.05

Ta có các giả thuyết

$H_{0}$: Không có sự khác biệt về phương sai của các nhóm

$H_{1}$: Không có bằng chứng để nói không có sự khác biệt về phương sai của các nhóm, ( tồn tại bằng chứng )

In [82]:
stat_value ,p_value = stats.levene(listt4[0], listt4[1], listt4[2], listt4[3],listt4[4])                   
print(f"P value: {p_value}")

P value: 0.9309738160407797

Vì P < 0.05 nên có thể nói rằng ta có bằng chứng để bác bỏ giả thuyết $H_{0}$

#Vì các nhóm độc lập, tuân theo phân phối chuẩn và có sự đồng nhất về phương sai giữa các nhóm nên ta có thể tiến hành kiểm định ANOVA:#
#Với mức ý nghĩa 0.05#
Ta có các giả thuyết

$H_{0}$: Không có sự khác biệt về trung bình cân nặng cầu thủ của các nhóm

$H_{1}$:Không có sự khác biệt về trung bình cân nặng cầu thủ của các nhóm, ( tồn tại bằng chứng )

In [83]:
stat_value ,p_value = stats.f_oneway(listt4[0], listt4[1], listt4[2], listt4[3],listt4[4])                   
print(f"P value: {p_value}")

P value: 0.018391232905488122

Vì P < 0.05 nên có thể nói rằng ta có bằng chứng để bác bỏ giả thuyết $H_{0}$